h2 {
    padding-top: 20px;
    text-align: center;
}

.list-options {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    max-height: 50vh;
    width: 470px;
    padding: 10px 20px 20px 40px;

    overflow-y: auto;
}

.options {
    display: flex;
    flex-direction: row;
    padding: 2vh;
    color: var(--color-text);

    background-color: var(--color-dark-blue-900);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.options-description {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.option-label {
    font-size: x-large;
}

.option-description {
    font-size: large;
    color: var(--color-dark-gray-300);
}

.footer {
    padding: 10px 20px;
}

button {
    width: 100%;
    border-radius: 5px;
    color: var(--color-text) !important;
    background-color: var(--color-blue-button);
}

.options:hover {
    background-color: var(--color-dark-blue-1000);
    transition: ease;
}

.selected {
    background-color: var(--color-dark-blue-1000);
}