
.terminal-container {
    height: 100dvh;
    width: 100dvw;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr 0.3fr;
}

.status-bar {
    display: flex;
    align-items: center;
    padding-left: 1%;

    font-size: 1.8em;
    font-weight: bold;
    color: var(--color-dark-blue-1000);
    background-color: green;
}

.terminal-div {
    display: grid;
    grid-template-columns: 1.01fr 0fr 1.4fr;

    align-items: center;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;

    
button {
    width: 49%;
    height: 92%;

    border-radius: 5px;
    border: 2px solid;
    color: var(--color-text) !important;
}

    .stop-button {
        background-color: var(--color-error-dark);
        border-color: var(--color-error) !important;
    }

    .production-button {
        background-color: var(--color-sucess-dark);
        border-color: var(--color-sucess) !important;
    }   
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-blue-700);
}

.item-infos {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 4fr;

    place-items: center;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;

    gap: 5%;
}

.item-title-description {
    font-weight: bold;
}

.production-item-information {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.item-color {
    height: 2vw;
    width: 2vw;
    border-radius: 5px;
}

.title-style {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 60%;

    border-radius: 5px;
    border: 2px solid;

    font-size: 1.1;
    font-weight: bold;

    background-color: var(--color-dark-blue-900);
    border-color: var(--color-dark-blue-800);
}

.item-content {
    width: 95%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    pad: 5%;
    gap: 5%;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    gap: 5%;
}

.divider {
    border-left: 2px solid var(--color-light-gray-300);
    height: 80%;
}

.production-infos {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
}
